/* Styling for the header */

/*        #button1 #button2 {
            display:flex;
        }
        #button1 {
            margin-left: 50px;
            margin-top: 10px;
            width: 75px;
            height: 35px;
            border-radius: 10px;
        }
        #button2 {
            margin-left: 15px;
            margin-top: 10px;
            width: 75px;
            height: 35px;
            border-radius: 10px;
            background-image: url(media/site/cavebackground.png);
            background-size: cover;
            color: black;
            text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;            
        }
*/

        #area {
            display:block;
            margin-left: auto;
        }
        #version-display{
            display:flex;
            margin-left: auto;
        }

       
       /* Styling for the table container */
        #tableContainer {
            display: none;
            width: auto;
            position:fixed; /* Position table container absolutely */
            bottom: 10px;
            right: 10px;
            background-color: white;
            padding: 6px;
            border: 1px solid #ccc;
            max-height: 70vh;
            max-width: 35vw;
            z-index: 9999;
            overflow-y: auto;
          }
          .button-container {
            display: flex;
            align-items: center;
            gap: 10px; /* Space between buttons */
            margin-top: 10px;
        }
        
        .styled-table {
            
            width: auto;
            border-collapse: collapse;
        }
        .styled-table tr:hover {
            background-color: #84c8c9; /* Change this color to your desired hover color */
        }
        
        .styled-table th, .styled-table td {
            padding: 0% 2px;
            border: 1px solid #eaeaea;
            text-align: center;
        }
        
        .styled-table th {
            width: 5vh;
            background-color: #f4f4f4;
        }
        
        /* Switch styling */
        .switch {
            position: relative;
            display: inline-block;
            width: 34px;
            height: 20px;
        }
        
        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }
        
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #000000;
            transition: .4s;
            border-radius: 34px;
        }
        
        .slider:before {
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            transition: .4s;
            border-radius: 50%;
        }
        
        input:checked + .slider {
            background-color: #21f356;
        }
        
        input:checked + .slider:before {
            transform: translateX(14px);
        }
        button.close-button {
            padding: 1px 1px; /* Adjust padding for close button */
            font-size: 1px; /* Adjust font size for close button */
            width: fit-content; /* Adjust the width of the close button */
            height: fit-content; /* Adjust the height of the close button */
            background-color: #00000000;
            border: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        
/* Styling for the map */

#map {
width: 100vw; /* Use viewport width */
height: 100vh; /* Use viewport height */
background-image: url('media/site/background.png');
background-repeat: repeat;
position: fixed;
animation: moveBackground 120s linear infinite;
image-rendering: pixelated;
top: 0;
left: 0;
z-index: -9999; /* Ensure it's on top of other elements */
}
@keyframes moveBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 100vh; }
}
/*hidden icon greyscale*/
.grayscale-icon {
filter: grayscale(100%);
}
/* Styling for the footer */


