/* Styling for the header */
#menu {
    /*empty for now*/
}
        #button1 #button2 {
            display:flex;
        }
        #button1 {
            margin-left: 50px;
            margin-top: 10px;
            width: 75px;
            height: 35px;
            border-radius: 10px;
        }
        #button2 {
            margin-left: 15px;
            margin-top: 10px;
            width: 75px;
            height: 35px;
            border-radius: 10px;
            background-image: url(media/site/cavebackground.png);
            background-size: cover;
            color: black;
            text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;            
        }


        #area {
            display:block;
            margin-left: auto;
        }
        #version-display{
            display:flex;
            margin-left: auto;
        }

        #tableContainer {
            display: none;
            
            position:fixed; /* Position table container absolutely */
            bottom: 10px;
            right: 10px;
            background-color: white;
            padding: 10px;
            border: 1px solid #ccc;
            z-index: 10000; /* Ensure table is on top of map tiles */
            max-height: 50vh;
            overflow-y: auto;
          }
          table {
            border-collapse: collapse;
            width: 100%;
          }
          th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
          }
/* Styling for the map */

#map {
width: 100vw; /* Use viewport width */
height: 100vh; /* Use viewport height */
background-image: url('media/site/background.png');
background-repeat: repeat;
position: fixed;
animation: moveBackground 120s linear infinite;
image-rendering: pixelated;
top: 0;
left: 0;
z-index: -9999; /* Ensure it's on top of other elements */
}
@keyframes moveBackground {
    0% { background-position: 0 0; }
    100% { background-position: 0 100vh; }
}
/*hidden icon greyscale*/
.grayscale-icon {
filter: grayscale(100%);
}
/* Styling for the footer */


/* own thing */

#thupidtable {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #ddd;
    margin-top: 150px;
}